html {
  background-color: black;
  height: 100%;
}

.circ:hover{
    cursor: pointer;
}
body {
  margin: 0;
}

.background {
  fill: none;
  pointer-events: all;
}

.banner-bottom {
  display: none;
}

path {
  fill: none;
  stroke: white;
  stroke-width: 0.5;
}

p {
  font-family: "andret_tblight";
  color: white;
}

a {
  font-family: "andret_tblight";
  text-decoration: none;
  color: white;
}

ul {
  padding-top: 3vw;
  width: 15vw;
}

li {
  font-size: 0.8em;
  font-weight: 100;
  font-family: 'andret_tblight';
  line-height: 1.5em;
  color: white;
  list-style-type: none;
}

h1 {
  font-weight: 100;
  font-family: 'andret_tblight';
  color: white !important;
  font-size: 6em;
  line-height: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-weight: 50;
  font-family: 'andret_tblight';
  color: white !important;
  font-size: 2em;
  margin-block-start: 1em;
  margin-block-end: 0;
}

h3 {
  font-family: 'andret_tblight';
  font-size: 1.5em;
  margin-block-start:0em;
  margin-block-end:0em;
}



#home_logo {
  position: absolute;
  margin-top: 3em;
  margin-left: 2em;
  z-index: 1;
}

#home_logo img {
  max-width: 3.5em;
}

#countdown {
  position: absolute;
  top: 8%;
  left: 85%;
  margin-right: 3em;
  text-align: right;
  font-size: 5em;
  line-height: 1em;
  margin-block-start: 0.1em;
  margin-block-end: 0;
}

.banner {
  overflow: hidden;
  background-color: black;
  z-index: 10;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

@keyframes design_list_slide {
  from {
    transform: translate(0em, 0em);
  }

  to {
    transform: translate(-1000vh, 0em);
    ;
  }
}

#text {
  white-space: nowrap;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: design_list_slide;
}

#text p {
  margin: 0;
  font-size: 1.2em;
}

.container_pre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container-about {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}


.title {
  order: 3;
  margin-left: 2em;
  padding-bottom: 6em;
}

.footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-top: 1px solid white;
}

.footer img {
  max-width: 8em;
  max-height: 5em;
  padding-bottom: 2em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 2em 1em 2em;
}

.bottone {
  font-family: "andret_tblight";
  cursor: pointer;
  border-left: 4px solid grey;
  padding-left: 0.5em;
}

.bottone a {
  line-height: 2em;
  text-transform: uppercase;
}

#filter {
  width: 10%;
  margin-top: 1.5em;
  line-height: 2em;
}

#filter a{
  color: black;
  margin-block-start:0;
  margin-block-end:0;
}
.stroke{
    stroke: black;
    stroke-width: 2;

}
.filter-active {
  border-left: 4px solid #403EFF;
}

.filter-active a{
  font-family: 'andret_tbmedium';
}

#empty {
  flex-grow: 1;
}

.button {
  border: 2px solid black;
  padding: 0.5em;
  margin-left: 0.5em;
  text-align: center;
}

.button_active {
  border: 2px solid black;
  padding: 0.5em;
  margin-left: 0.5em;
  text-align: center;
  background-color: black;
}

.button a {
  color: black;
  margin-block-start: 0;
  margin-block-end: 0;
}

.button_active a {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
}

.button-light {
  border: 2px solid white;
  padding: 0.5em;
  margin-left: 0.5em;
  text-align: center;
  background-color: black;
}

.button-light_active {
  border: 2px solid white;
  padding: 0.5em;
  margin-left: 0.5em;
  text-align: center;
  background-color: white;
}

.button-light_active a {
  color: black;
}

.button-light a {
  color: white;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: black;
}

#gwork {
  background-color: black;
  color: white;
}

#gwork a {
  color: white;
}

.home {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  margin-left: 2em;
  margin-right: 2em;
  font-family: "andret_tblight"
}

.visualizzazione {
  width: 100vw;
  height: 70vh;
}

#my_dataviz svg {
  width: 100%;
  height: 100%;
}

#infopoetry {
  position: absolute;
  top: 90%;
  left: 87%;
  z-index: 2;
  background-color: white;
}

.content{
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.content a{
  text-decoration: underline;
  cursor:pointer;
  padding-right: 3em;
}

.content a:hover{
  color: #403EFF;
}

.content h1{
  font-family: "andret_tblight";
  font-size: 3em;
}

.content iframe{
  margin-top: 2em;
  max-width: 80vw;
  max-height: 80vh;
  border: 1px solid white;
}

.content-about{
  display: flex;
  flex-direction: row;
  margin: 2em;
}

.content-about_left{
  flex-grow: 1;
  width: 15vw;
  border: 2px solid black;
  background-color: white;
  padding: 1em;
  position: fixed;
}

.content-about_left p{
  color: black;
}

.content-about_right{
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.id {
  padding: 1em;
}

.id img {
  max-width: 7em;
  min-width: 0.5em;
}

.id p {
  color: black;
}


@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 1em;
  }

  #banner {
    order: 1;
  }

  #countdown {
    font-size: 3.5em;
    left: 67.5%;
    margin-top: 0;
  }

  #text p {
    margin: 0;
    font-size: 1.3em;
  }

  .title {
    order: 2;
    margin-left: 1.5em;
    padding-top: 80%;
  }

  .banner-bottom {
    display: none;
    order: 3;
    overflow: hidden;
    background-color: black;
    z-index: 10;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    flex-grow: 0;
  }

  #home_logo {
    margin-left: 1.5em;
  }

  #home_logo img {
    max-width: 4em;
  }

  .footer {
    display: none;
  }
}
